* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12pt;
}

body {
  height: 100vh;
  background-image: url(../images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  height: 75%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  border-radius: 30px;
  background-color: white;
  background-image: url(../images/illustration-hero.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
  box-shadow: 0px 2px 50px #1e21c536;

  .txt-container {
    height: 53vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .headline {
    color: #172039;
    font-size: 1.2rem;
  }

  .maintxt {
    line-height: 20px;
    font-size: 0.8rem;
    padding: 5px;
    width: 80%;
    color: #838798;
  }

  .plan-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.8rem;
    border: none;
    background-color: #f8f9fe;
    border-radius: 10px;
    width: 80%;
    padding: 20px;
  }

  .annual-plan-contianer {
    width: 60%;

    .annual-plan {
      line-height: 15px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      span {
        color: #6d7184;
      }
    }
  }

  img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .btn-pay {
    width: 80%;
    padding: 13px;
    border-radius: 10px;
    border: none;
    background-color: #352ad8;
    color: white;
    box-shadow: 0px 10px 20px #362ad844;
    font-size: 0.7rem;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .btn-cancel {
    border: none;
    background: none;
    font-size: 0.7rem;

    a {
      color: #7985a4;
      text-decoration: none;
    }
  }
}

/*----Desktop/Ipad----*/

@media screen and (min-width: 768px) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #e1e8fd;

    .main-container {
      height: 70%;
      width: 25%;
      border-radius: 15px;
      justify-content: center !important;
      align-items: flex-end !important;
    }

    .txt-container {
      gap: 20px !important;
      justify-content: center !important;
      align-items: center !important;
      width: 100% !important;
    }

    .headline {
      font-size: 1.5rem !important;
    }

    .maintxt {
      font-size: 1rem !important;
      width: 80% !important;
    }

    .annual-plan-contianer {
      display: flex;
    }
  }
}
